h3{
    margin-left: 45%;
}
input{
    margin-left: 45%;
}

button{
    display:none;
}

.loading-message {
    font-size: 20px;
    color: red;
    text-align: center;
    margin-top: 4em;
    
}

.thumb {
    height: 50%;
    margin-top: 2em;
    margin-left: 30%;
    visibility: visible;
    
}

#video-controls{
    margin-left: 40%;
}

